
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'TabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'TabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Full name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Full name' | translate}}" autofocus  id="1" [(ngModel)]="item.fullName">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Email' | translate}}" autofocus  id="2" [(ngModel)]="item.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Client category' | translate}}</label>
                        <p-dropdown [options]="clientCategorys" [(ngModel)]="item.clientCategory" id="3" [disabled]="true" optionLabel="reference" placeholder="{{'Client category' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



